<%= form_with(model: @user, url: signup_path, local:true) do |f| %>
    <div class="mb-3">
        <%= f.label :username, class:"form-label" %>
        <%= f.text_field :username, class:"form-control", placeholder:"Enter your username" %>
    </div>
    <div class="mb-3">
        <%= f.label :password, class:"form-label" %>
        <%= f.password_field :password, class:"form-control" %>
    </div>
    <div class="d-grid mx-auto">
        <%= f.submit "Sign up", class:"btn btn-lg btn-primary" %>
    </div>
<% end %>